priority -10

snippet ``` "Codeblock" i
\`\`\`$1
$2
\`\`\`
$0
endsnippet

snippet * "Internal Page Link"
* [${1}](${1/\w+/$0.md/g})$0
endsnippet

snippet [ "Link to something"
[${1}](${2:URL})$0
endsnippet

snippet ad "Advantages/Disadvantages"
* Advantages
	* ${1}
* Disadvantages
	* ${2}
endsnippet
